@import 'node_modules/bootstrap/scss/functions'
@import 'node_modules/bootstrap/scss/_variables'

// SCHUBWERK VARIABLES

// COLORS AREAS
$color-background: map-get($colors, "gray-light")

// COLORS: EMOTIONS
$emotion-colors: ("good": $green, "okay": $orange, "bad": $red)

// SIZES: FONTS
$font-sizes: ("1": 1rem, "2": 1.6rem, "3": 1.8rem, "4": 2.1rem, "5": 2.4rem, "6": 2.8rem, "7": 3.2rem, "8": 3.6rem, "9": 4.0rem, "10": 5.0rem)
